image boot.vfat {
	vfat {
		files = {
			"zImage",
			"sun8i-v3s-licheepi-zero-dock.dtb",
			"sun8i-v3s-licheepi-zero.dtb",
			"boot.scr"
		}
	}

	size = 8M
}

image sdcard.img {
	hdimage {
	}

	partition u-boot {
		in-partition-table = "no"
		image = "u-boot-sunxi-with-spl.bin"
		offset = 8K
		size = 504K # 32KB(SPL) + 504KB(Uboot)
		# メモ
		# offset = 8K = 0x002000
		# size = 504K = 0x07E000
		# 0x002000 〜 (0x002000 + 0x07E000) = 0x080000（=  512KiB）
	}

	#uboot-menuconfigで設定した環境変数領域
	#Environment offset = 0xF0000
	#Environment Size = 0x10000 (64 KiB)

	partition boot {
		partition-type = 0xC
		bootable = "true"
		image = "boot.vfat"
		offset = 1M         # ENVの後ろに配置
	}

	partition rootfs1 {
		partition-type = 0x83
		image = "rootfs.ext4"
		size = 200M
	}
	partition rootfs2 {
		partition-type = 0x83
		size = 200M
	}
}
